@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body.centered {
  text-align: center;
}

h1.title {
  font-size: 30pt;
  line-height: 36pt;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h2.title {
  font-size: 24pt;
  line-height: 24pt;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h3.title {
  font-size: 18pt;
  line-height: 18pt;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

pre {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

table {
  border-collapse: collapse;
}

table.bordered {
  border: 1px solid black;
}

table.bordered td {
  border: 1px solid black;
}

table.centered {
  text-align: center;
}

td.lefted {
  text-align: left;
}
